body {
/*
   background-image: url("http://backgroundimages.eu/albums/background/papyrus-old-stationery.jpg");
   background-size: cover;    
*/
/*    background-color: #9CC3D5;*/
}

/* Define colors for circles and rectangles */
.circle {
/*  fill: #303030;*/
  fill: #E8E4E1;
  opacity: 1;
  stroke: black;
}

.bar:hover{
    opacity: 0.5;
}
.info-container{
    display:flex;
    background-color: 'lightblue'; 
    fill: 'lightblue';
}

.images{
    width: 150px;
    height: 150px;
}

.description{
    width: 200px;
    padding: 0px 8px;
}
.button{
    background-color: lightblue; /* Green */
  border: none;
  color: black;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid;
  border-color: darkblue;
}

.button:hover {
  background-color: lightblue; /* Green */
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: darkblue;
  border: 2px;
}

#container{
    background-color: white;
    border: 2px solid black;
}

.geomap{
    font-size: 25px;
    font-weight: bold;
}

.info_rect{

 fill: 'grey';
  margin:0 0 20px;
  padding: 20px;
  border:2px solid #333;
  width 80%;
  text-align:center;
  color: black;
  
}
.rect {
  fill: #484848;
  opacity: 1;
  stroke: black;
}

.circle:hover {
  fill: white;
  stroke: black;
  opacity: 1;
}
.rect:hover {
  fill: black;
  opacity: 1;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

/* Define color for country boundary */
#boundary {
  fill: none;
  stroke: grey;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
#boundary:hover {
  stroke: black;
  stroke-width: 1px;
}

/* Tooltip */
.tooltip {
    position: absolute;
    line-height: 1;
    padding: 12px;
    
    background: black;
    opacity: 0.5px;
    color: #fff;
    
    border-right: 10px;
    top:100px;
    border-radius: 8px;
    width: auto;
    height: auto;
    pointer-events: none;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.details{
    fill: aliceblue;
    background-color: aliceblue;
}


html,
    body,
    #container2 {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

